*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

/* TEXT */
.title{
    font-size: 60px;
    line-height: 70px;
}

.text{
    font-size: 23px;
    line-height: 35px;
}

/* LAYOUT */
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 70%;
    margin: auto;
}
/* HEADER */
header{
    background-color: #3161e0;
    color: white;
    height: 80px;
}
nav {
    line-height: 80px;
}
.logo, 
.login {
    width: 10%;
}
/* LOGO */
.logo img{
    vertical-align: middle;
}
/* BUTTON */
.small-btn{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 15px;
    line-height: normal;
    display: inline-block;
}
.white-btn{
    color: black;
    background-color: white;
}

.black-btn{
    background-color: #23272a;
    color: white;
}

.large-btn{
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    font-size: 20px;
    margin-right: 30px;
    padding: 15px 31px;
    border-radius: 40px;
}

.banner .buttons{
    margin-top: 35px;
 }

/* MENU  */
.menu-central {
    width: 80%;
    text-align: center;
}
.menu-top{
    list-style-type: none;
}
.menu-top li{
    display: inline-block;
    margin: 0 15px;
}
.menu-top a {
    text-decoration: none;
    color: white;
}
/* LOGIN */
.login{
    text-align: right;
}

/* MAIN */
/* BANNER */
.banner{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 190px 0;
}

.content-banner{
    width: 50%;
    margin: auto;
    color: white;
}
.content-banner h1{
    margin-bottom: 30px;
}

